<% if @book.errors.any? %>
  <div class= "alert alert-warning">
  	<h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
	 <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
  </div>
<% end %> 